 .custom-popup {
    border-radius: 10px;
    padding: 60px 40px;
    box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.08);
    max-width: 500px;
  }

  .custom-button {
    background-color: #151515;
    color: white;
    border: none;
    padding: 14px 40px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .custom-button:hover {
    background-color: #151515;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(220, 38, 38, 0.3);
  }