#kt_drawer_request_membership {
    // min-width: 648px;
}

.rm-style-0 {
  width: 100%;
  min-height: fit-content;
  height: max-content;
  padding: 40px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  border-left: 1px #E9E9E9 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
  margin-bottom: 50px;
}

.rm-style-1 {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  max-height: 38px;
}

.rm-style-2 {
  width: auto;
  max-width: calc(100% - 32px);
  color: #151515;
  font-size: clamp(20px, calc(1.2vw + 18px), 32px);
  font-family: Oswald;
  font-weight: 500;
  line-height: 38.40px;
  word-wrap: break-word;
}

.rm-style-3 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}

.rm-style-4 {
  width: 100%;
  height: 100%;
  svg {
    height: 32px !important;
    width: 32px !important;
  }
}

.rm-style-5 {
  width: 100%;
  height: 100%;
  svg {
    height: 24px !important;
    width: 24px !important;
  }
}

.rm-style-7 {
  align-self: stretch;
  // overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  display: flex;
  max-height: max-content;
  min-height: max-content;
  height: max-content
}

.rm-style-8 {
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px var(--Color-2, #460107) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.rm-style-9 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.rm-style-13 {
  text-align: center;
  color: var(--Color-2, #460107);
  font-size: 12px;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-14 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
  max-height: fit-content;
  height: fit-content;
}

.rm-style-15 {
  align-self: stretch;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  max-height: 17px;
}

.rm-style-16 {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.rm-style-17 {
  flex: 1 1 0;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: flex;
}

.rm-style-18 {
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-19 {
  width: 146.50px;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
  width: 65%;
}

.rm-style-20 {
  flex: 1 1 0;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: flex;
}

.rm-style-21 {
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
  width: 50%;
}

.rm-style-22 {
  width: 146.50px;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
  width: 50%;
}

.rm-style-23 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
  min-height: fit-content;
}

.rm-style-24 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
  width: 100%;
}

.rm-style-25 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
  max-height: 56px;
}

.rm-style-26 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-27 {
  align-self: stretch;
  color: #151515;
  font-size: 28px;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: 33.60px;
  word-wrap: break-word;
}

.rm-style-28 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  max-height: fit-content;
  width: 100%;
}

.rm-style-29 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-30 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-31 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-32 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-33 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-34 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-36 {
  text-align: right;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-37 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  max-height: 149px;
}

.rm-style-38 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.rm-style-39 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-40 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-41 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-42 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-43 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-44 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-45 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-46 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-47 {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  display: inline-flex;
}

.rm-style-48 {
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-49 {
  color: #B4B4B4;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-50 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  display: inline-flex;
}

.rm-style-51 {
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-52 {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.rm-style-53 {
  width: 28px;
  height: 28px;
  border-radius: 21px;
}

.rm-style-54 {
  text-align: center;
  color: #151515;
  font-size: 12px;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-55 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  max-height: auto;
}

.rm-style-56 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}

.rm-style-57 {
  align-self: stretch;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 22.20px;
  letter-spacing: 1.80px;
  word-wrap: break-word;
}

.rm-style-58 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-59 {
  align-self: stretch;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-60 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.rm-style-61 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-62 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-63 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-64 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.rm-style-65 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-66 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-67 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.rm-style-68 {
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-69 {
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-70 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-71 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-72 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-73 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  min-height: 249px;
  height: auto;
}

.rm-style-74 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: flex;
}

.rm-style-75 {
  align-self: stretch;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 22.20px;
  letter-spacing: 1.80px;
  word-wrap: break-word;
}

.rm-style-76 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-77 {
  align-self: stretch;
  padding: 25px 0 0 0;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-78 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-79 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-80 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-81 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: flex;
}

.rm-style-82 {
  align-self: stretch;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 22.20px;
  letter-spacing: 1.80px;
  word-wrap: break-word;
}

.rm-style-83 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-84 {
  align-self: stretch;
  padding: 20px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-85 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-86 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-87 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-88 {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  max-height: fit-content;
  min-height: max-content;
  gap: 10px;
}

.rm-style-89 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px #151515 solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.rm-style-90 {
  text-align: center;
  color: #151515;
  font-size: 12px;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-91 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #151515;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.rm-style-92 {
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-93 {
  width: 12px;
  height: auto;
  svg {
    height: 3px !important;
    width: 12px !important;
  }
}

// dropdown para waitlist
.menu-dropdown-waitlist {
  background: #fff !important;
  border: 1px aliceblue solid !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08) !important;
  left: -33px !important;
  top: -38px !important;
  margin: 0px !important;
  padding: 0px !important;
  background-color: #fff !important;
  & > * {
    background: #fff !important;
    background-color: rgb(255, 255, 255);
    padding: 0px !important;
    margin: 1px !important;
    background-color: #fff !important;
  }
}

// overwrite tabs for waitlist
.nav-item {
  font-family: "Satoshi", sans-serif !important;
  font-size: 12px !important;
  margin-bottom: 4px !important;
  .nav-link {
    font-weight: 300;
    color: #B4B4B4 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0 0 !important;
    &.active {
      font-weight: bold !important;
      color: black !important;
      border-bottom: 2px solid #151515 !important;
      margin: 0 0 4px 0 !important;
    }
  }
}
// badge styles for waitlist
.badge-wrapper {
  width: 16px;
  height: 16px;
  padding: 5px;
  background: #A50F0F;
  border-radius: 50%;
  margin-left: 7px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.badge-count {
  color: white;
  font-size: 10px;
  font-family: 'Satoshi';
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}


.separator-vertical {
  margin-left: 20px;
  margin-right: 20px;
  hr {
    border-left: 2px gray solid;
    height: 20px;
  }
}