#kt_drawer_request_membership {
    min-width: 648px;
}

.rm-style-0 {
  width: 648px;
  min-height: 1359px;
  height: fit-content;
  padding: 40px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  border-left: 1px #E9E9E9 solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}

.rm-style-1 {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  max-height: 38px;
}

.rm-style-2 {
  width: 296px;
  color: #151515;
  font-size: 32px;
  font-family: Oswald;
  font-weight: 500;
  line-height: 38.40px;
  word-wrap: break-word;
}

.rm-style-3 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}

.rm-style-4 {
  width: 100%;
  height: 100%;
  svg {
    height: 32px !important;
    width: 32px !important;
  }
}

.rm-style-5 {
  width: 100%;
  height: 100%;
  svg {
    height: 24px !important;
    width: 24px !important;
  }
}

.rm-style-7 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  display: flex;
  max-height: 42px;
  min-height: 42px;
}

.rm-style-8 {
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px var(--Color-2, #460107) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.rm-style-9 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}

.rm-style-13 {
  text-align: center;
  color: var(--Color-2, #460107);
  font-size: 12px;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-14 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
  max-height: fit-content;
  height: fit-content;
}

.rm-style-15 {
  align-self: stretch;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  max-height: 17px;
}

.rm-style-16 {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.rm-style-17 {
  flex: 1 1 0;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: flex;
}

.rm-style-18 {
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
  width: 35%;
}

.rm-style-19 {
  width: 146.50px;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
  width: 65%;
}

.rm-style-20 {
  flex: 1 1 0;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: flex;
}

.rm-style-21 {
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
  width: 50%;
}

.rm-style-22 {
  width: 146.50px;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
  width: 50%;
}

.rm-style-23 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
  max-height: 163px;
}

.rm-style-24 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
}

.rm-style-25 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
  max-height: 56px;
}

.rm-style-26 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-27 {
  align-self: stretch;
  color: #151515;
  font-size: 28px;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: 33.60px;
  word-wrap: break-word;
}

.rm-style-28 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  max-height: 32px;
}

.rm-style-29 {
  width: 249px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-30 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-31 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-32 {
  width: 249px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-33 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-34 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-36 {
  text-align: right;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-37 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  max-height: 149px;
}

.rm-style-38 {
  width: 508px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.rm-style-39 {
  width: 249px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-40 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-41 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-42 {
  width: 249px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-43 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-44 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-45 {
  width: 249px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
}

.rm-style-46 {
  align-self: stretch;
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-47 {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  display: inline-flex;
}

.rm-style-48 {
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-49 {
  color: #B4B4B4;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-50 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  display: inline-flex;
}

.rm-style-51 {
  color: #808080;
  font-size: 10px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 14px;
  word-wrap: break-word;
}

.rm-style-52 {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.rm-style-53 {
  width: 28px;
  height: 28px;
  border-radius: 21px;
}

.rm-style-54 {
  text-align: center;
  color: #151515;
  font-size: 12px;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-55 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  max-height: auto;
}

.rm-style-56 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}

.rm-style-57 {
  align-self: stretch;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 22.20px;
  letter-spacing: 1.80px;
  word-wrap: break-word;
}

.rm-style-58 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-59 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-60 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.rm-style-61 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-62 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-63 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-64 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.rm-style-65 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-66 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-67 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.rm-style-68 {
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-69 {
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-70 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-71 {
  align-self: stretch;
  color: #808080;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-72 {
  align-self: stretch;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-73 {
  align-self: stretch;
  padding: 30px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: flex;
  min-height: 376px;
  height: auto;
}

.rm-style-74 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: flex;
}

.rm-style-75 {
  align-self: stretch;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 22.20px;
  letter-spacing: 1.80px;
  word-wrap: break-word;
}

.rm-style-76 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-77 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-78 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-79 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-80 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-81 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: flex;
}

.rm-style-82 {
  align-self: stretch;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 22.20px;
  letter-spacing: 1.80px;
  word-wrap: break-word;
}

.rm-style-83 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  display: flex;
}

.rm-style-84 {
  align-self: stretch;
  padding: 20px;
  background: white;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-85 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-86 {
  align-self: stretch;
  padding: 20px;
  outline: 1px #E9E9E9 solid;
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rm-style-87 {
  flex: 1 1 0;
  color: #151515;
  font-size: 12px;
  font-family: Satoshi;
  font-weight: 300;
  line-height: 16.80px;
  word-wrap: break-word;
}

.rm-style-88 {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  max-height: 42px;
}

.rm-style-89 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px #151515 solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.rm-style-90 {
  text-align: center;
  color: #151515;
  font-size: 12px;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-91 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #151515;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
}

.rm-style-92 {
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22.20px;
  word-wrap: break-word;
}

.rm-style-93 {
  width: 12px;
  height: auto;
  svg {
    height: 3px !important;
    width: 12px !important;
  }
}
